@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

div.modal-backdrop{
  background-color: rgba($black, 0.6);
  height: 100%;
  width: 100%;
  z-index: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  div.dialog{
    padding: none;
    position: fixed;
    height: 35%;
    width: 25%;
    border-radius: .5em;
    top: 20em;
  
    &.light, &.none{
      background-color: $white;
      outline: solid .5em $black;

      #light{
        outline: solid $black .3em;
      }

      #dark{
        outline: solid $black .3em;
      }
    }

    &.dark{
      outline: solid $shale .3em;
      background-color: $midnite;

      #light{
        outline: solid $shale .3em;
      }

      #dark{
        outline: solid $shale .3em;
      }
    }

    div.upper{
      font-family: "Bungee";
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &.light, &.none{
        background-color: $yellow;
        border-bottom: solid $black .5em;
      }

      &.dark{
        background-color: $bluesmoke;
        border-bottom: solid $shale .3em;
      }

      h2{
        margin-bottom: -.5%;
        text-align: center;
        font-size: 3.5vw;
        -webkit-text-stroke: $black 3px;

        &.light, &.none{
          color: $blue;
        }

        &.dark{
          color: $silver;
        }
      }
    }

    div.middle{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 60%;

      &.light, &.none{
        background-color: $white;
      }

      &.dark{
        background-color: $midnite;
      }

      div.setting{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1em;
        width: 100%;

        &.light, &.none{
          color: $black;
          -webkit-text-stroke: $black 2px;
        }

        &.dark{
          color: $silver;
          -webkit-text-stroke: $silver 2px;
        }

        h3{
          padding-top: .25em;
          width: 50%;
          font-family: "BungeeHairline";
          font-size: 2vw;
          vertical-align: middle;
          text-align: center;
        }

        div.button-group{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 50%;

          button{
            width: 40%;
            height: 100%;
            text-align: center;
            font-family: "BungeeHairline";
            font-size: 1vw;
          }

          #light{
            background-image: linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $purple);
            color: $black;
            -webkit-text-stroke: $black 2px;
            border-radius: 0.5em 0 0 0.5em;
            border: none;

            &:hover{
              -webkit-text-stroke: $black 3px;}
          }

          #dark{
            background-color: $bluesmoke;
            color: $silver;
            -webkit-text-stroke: $silver 2px;
            border-radius: 0 0.5em 0.5em 0;
            border: none;

            &:hover{
              -webkit-text-stroke: $silver 3px;
            }
          }
        }
      }
    }

    div.lower{
      height: 20%;

      &.light, &.none{
        border-top: solid $black .5em;
      }

      &.dark{
        border-top: solid $shale .3em;
      }

      button{
        width: 100%;
        height: 100%;
        font-size: 1.75vw;
        border: none;
      
        &.light, &.none{
          background-color: $green;
          color: $black;
          font-family: "BungeeHairline";
          -webkit-text-stroke: $black 2px;
        }
      
        &.dark{
          background-color: $bluesmoke;
          color: $silver;
          font-family: "BungeeHairline";
          -webkit-text-stroke: $silver 2px;
        }

        &:hover{
          -webkit-text-stroke-width: 3px;
        }
      }
    }
  }
}