@import 'bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

html, body{
  background-color: #333;
}


// Palettes:
//  Teal:     https://hexcolorpedia.com/262136_243f63_107571_4ea07b_c3ea87/
//  Magenta:  https://hexcolorpedia.com/ff82ca_ff26f6_f019d7_b268d0_85b7fd/
//  Tomato:   https://hexcolorpedia.com/ff7b70_fe4f60_ce678c_8e5786_6e4778/
//  Coffee:   https://hexcolorpedia.com/7f614d_d9a883_5f493c_a08473_64422a/
//  Brick:    https://hexcolorpedia.com/71201b_827d75_988b7b_d83535_a6816b/

// NEUTRALS
$black: #000;
$dark-gray: #333;
$gray: #666;
$lite-gray: #AAA;
$white: #FFF;

// TEAL
$coldsteel: #262136;
$alpinerace: #243f63;
$prismarine: #107571;
$cadetblue: #4ea07b;
$sulu: #c3ea87;

// MAGENTA
$poutpink: #ff82ca;
$magenta: #ff26f6;
$pinkpride: #f019d7;
$richlilac: #b268d0;
$carolinablue: #85b7fd;

// TOMATO
$salmon: #ff7b70;
$tomato: #fe4f60;
$rose: #ce678c;
$dewberry: #8e5786;
$hyssop: #6e4778;

// COFFEE
$tilledearth: #7f614d;
$burlywood: #d9a883;
$carafe: #5f493c;
$amphora: #a08473;
$irishcoffee: #64422a;

// BRICK
$persianplum: #71201b;
$ricochet: #827d75;
$litekhaki: #988b7b;
$firebrick: #d83535;
$rosybrown: #a6816b;