<div class="outer {{getTheme()}}">

  <div class="upper {{getTheme()}}">
  
    <div class="cat {getTheme()}}">
      <h4 class="{{getTheme()}}">Category:</h4>
      <h3 class="{{getTheme()}}">{{category}}</h3>
    </div>
  
    <div class="diff {getTheme()}}">
      <h4 class="{{getTheme()}}">Difficulty:</h4>
      <h3 class="{{getTheme()}}">{{difficulty}}</h3>
    </div>
  </div>

  <div class="middle {{getTheme()}}">
    <p class="{{getTheme()}}">{{question}}</p>
  </div>

  <div class="lower {{getTheme()}}">
    <button 
    (click)="checkAnswer(a)" 
    *ngFor="let a of answers" 
    class="{{getTheme()}} {{getResult(a)}}" 
    type="button"
    [disabled]="answered">{{a}}
  </button>
  </div>

</div>