<nav class="navbar navbar-expand-lg {{getTheme()}}">
  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <div class="container-fluid" id="left">
          <a routerLink=""><h1>Quizzler</h1></a>
        </div>
      </div>

      <div class="col">
        <div class="container-fluid" id="right">
          <button (click)="onSettingsClick()" type="button"><i class="bi bi-gear-fill"></i></button>
        </div>
      </div>

    </div>
  </div>
</nav>

<q-settings-dialog [theme]="theme" (themeChanged)="themeChanged.emit($event)"></q-settings-dialog>