@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

nav{
  height: 100%;

  a:link, a:visited{
    text-decoration: none;
  }
  
  h1{
    @media only screen and (max-width: 768px){
        font-size: 2em;
        -webkit-text-stroke: 2px $black;
    }

    font-family: "Bungee";
    font-size: 4em;
    text-align: left;
    -webkit-text-stroke: 3px $black;
  }

  &.dark{
    h1, i{
      color: $silver;
    }
    border-bottom: solid $shale .3em;
    background-color: $bluesmoke;

    h1:hover, i:hover{
      color: $periwinkle;
    }
  }

  &.light, &.none{
    h1, i{
      color: $yellow;
    }

    h1:hover, i:hover{
      color: $red;
    }
    border-bottom: solid black .3em;
    background-color: $blue;
  }

  div.row{
    width: 100%;
    height: auto;

    div.col{
      height: auto;
      width: 100%;

      div.wing{
        width: 100%;
        height: 100%;
      }

      #left{
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: row;
      }

      #right{
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
      }
    }
  }

  button{
    background-color: transparent;
    border: none;
    //padding-top: .8em;
    width: auto;
    height: auto;

    i{
      @media only screen and (max-width: 768px){
          font-size: 1.75em;
          -webkit-text-stroke: 2px $black;
      }

      font-size: 3em;
      -webkit-text-stroke: 3px $black;
    }
  }
}