@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

nav{
  height: 100%;

  a:link, a:visited{
    text-decoration: none;
  }
  
  h1{
    margin-left: 2em;
    margin-top: .15em;
    font-family: "Bungee";
    font-size: 4vw;
    -webkit-text-stroke: 3px $black;
  }

  &.dark{
    h1, i{
      color: $silver;
    }

    outline: solid $shale .3em;
    background-color: $bluesmoke;

    h1:hover, i:hover{
      color: $periwinkle;
    }
  }

  &.light, &.none{
    h1, i{
      color: $yellow;
    }

    h1:hover, i:hover{
      color: $red;
    }

    outline: solid $black .4em;
    background-color: $blue;
  }

  div.row{
    width: 100%;
    height: auto;

    div.col{
      height: auto;
      width: 100%;

      #left{
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: row;
      }

      #right{
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
      }
    }
  }

  button{
    background-color: transparent;
    border: none;
    padding-top: .8em;

    i{
      font-size: 3vw;
      margin-right: 2em;
      -webkit-text-stroke: 3px $black;
    }
  }
}