<div class="modal-backdrop" *ngIf="visible">
  <div class="dialog {{getTheme()}}">
    <div class="upper">
      <h2>SETTINGS</h2>
    </div>
    <div class="lower">
        <div class="setting" id="theme">
          <h3>Theme: </h3>
          <div class="button-group">
            <button type="button" (click)="enableLightTheme()" id="light">Light</button>
            <button type="button" (click)="enableDarkTheme()" id="dark">Dark</button>
          </div>
        </div>
      </div>
  </div>
</div>