@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

footer{
  height: 100%;
  border-radius: .5em .5em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &.light, &.none{
    outline: solid $black .3em;
    background-color: $red;
    color: $black;
    -webkit-text-stroke: 1px $black;

    @media only screen and (max-width: 768px){
      -webkit-text-stroke-width: .5px;
    }

    i, a{
      color: $black;
    }
  }

  &.dark{
    outline: solid $shale .3em;
    background-color: $bluesmoke;
    color: $silver;
    -webkit-text-stroke: 1px $silver;

    @media only screen and (max-width: 768px){
      -webkit-text-stroke-width: .5px;
    }

    i, a{
      color: $silver;
    }
  }

  div.wrapper{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    @media only screen and (max-width: 425px){
      flex-direction: column;
      justify-content: space-evenly;
    }

    div.item{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      font-family: "BungeeHairline";
      font-size: 1.2em;

      @media only screen and (max-width: 768px){
        font-size: .75em;
      }

      @media only screen and (max-width: 425px){
        flex-direction: row;
        width: 100%;
      }

      i:hover, a:hover{
        -webkit-text-stroke-width: 2px;
      }
    
      a:link, a:visited{
        text-decoration: none;
      }
    
      i{
        font-size: 1.1em;
        vertical-align: middle;
      }

      a{
        text-align: center;
      }
    }
  }
}