@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

div.outer{
  border-radius: 0.5em;
  width: 50em;
  height: 30em;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;

  &.light, &.none{
    background-color: $white;
    outline: solid $black 0.5em;
  }

  &.dark{
    background-color: $midnite;
    outline: solid $shale 0.3em;
  }

  div.upper{
    height: 15%;
    width: 100%;
    margin: none;

    &.light, &.none{
      background-color: $red;
      border-bottom: solid $black 0.5em;
    }

    &.dark{
      background-color: $bluesmoke;
      border-bottom: solid $shale 0.3em;
    }

    h2{
      font-family: "Bungee";
      font-size: 3.4em;
      text-align: center;
      -webkit-text-stroke: $black 3px;

      &.light, &.none{
        color: $yellow;
      }

      &.dark{
        color: $silver;
      }
    }
  }

  div.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    height: 70%;

    &.light, &.none{
      background-color: $white;
    }

    &.dark{
      background-color: $midnite;
    }

    h3{
      padding-top: .25em;
      font-family: "BungeeHairline";
      text-align: center;

      &.light, &.none{
        color: $black;
        -webkit-text-stroke: $black 2px;
      }

      &.dark{
        color: $silver;
        -webkit-text-stroke: $silver 2px;
      }
    }

    p{
      font-family: "BungeeHairline";
      text-align: center;

      &.light, &.none{
        color: $black;
        -webkit-text-stroke: $black 1px;
      }

      &.dark{
        color: $silver;
        -webkit-text-stroke: $silver 1px;
      }
    }
  }

  div.lower{
    height: 15%;

    &.light, &.none{
      border-top: solid $black .5em;
    }

    &.dark{
      border-top: solid $shale .3em;
    }

    button{
      width: 100%;
      height: 100%;
      font-size: 1.5em;
      border: none;
    
      &.light, &.none{
        background-color: $blue;
        color: $black;
        font-family: "BungeeHairline";
        -webkit-text-stroke: $black 2px;

        &:hover{
          -webkit-text-stroke: $black 4px;
        }
      }
    
      &.dark{
        background-color: $bluesmoke;
        color: $silver;
        font-family: "BungeeHairline";
        -webkit-text-stroke: $silver 2px;

        &:hover{
          -webkit-text-stroke: $silver 4px;
        }
      }
    }
  }
}