<div class="outer {{getTheme()}}">
  <div class="upper {{getTheme()}}">
    <h2 class="{{getTheme()}}">
      UH OH!
    </h2>
  </div>

  <div class="middle {{getTheme()}}">
    <h3 class="{{getTheme()}}">Are you sure you're supposed to be here?</h3>

    <p class="{{getTheme()}}">
      Don't worry!
      You might have clicked a broken link or typed an invalid address.
      Simply click the button below to return to the game.
    </p>
  </div>

  <div class="lower {{getTheme()}}">
    <button class="{{getTheme()}}" routerLink="/" type="button">get out of here</button>
  </div>
</div>