// NEUTRALS
$black: #111;
$dark-gray: #333;
$gray: #666;
$lite-gray: #AAA;
$white: #EEE;

// DARK
$midnite: #123;
$bluesmoke: #345;
$shale: #678;
$periwinkle: #ABC;
$silver: #DEF;

// LIGHT
$red: #F66;
$orange: #F83;
$yellow: #FF6;
$green: #6F6;
$purple: #66F;
$blue: #66F;
$pink: #F6F;